[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-bzip2;
Actions=decompress;


[Desktop Action decompress]
Name=Decompress with bzip2
Icon=package-x-generic
Exec=bzip2 -d %f
