[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-rzip;
Actions=decompress;


[Desktop Action decompress]
Name=Decompress with rzip
Icon=package-x-generic
Exec=rzip -d %f
