[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-lzip;
Actions=decompress;


[Desktop Action decompress]
Name=Decompress with lzip
Icon=package-x-generic
Exec=lzip -d %f
