[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/gzip;
Actions=decompress;


[Desktop Action decompress]
Name=Decompress with pigz (parallel gzip)
Icon=package-x-generic
Exec=pigz -d %f
